<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售管理系统</title>
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加角色</legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
        </div>
    </div>
    <br>
    <div class="layui-form-item">
        <label class="layui-form-label">权限描述</label>
        <div class="layui-input-block">
            <input type="text" name="code" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>
    <br>
    <div class="layui-form-item">
        <label class="layui-form-label">权限范围</label>
        <div class="layui-input-block">
            <input type="checkbox" name="gList" lay-skin="primary" title="商品列表"><br>
            <input type="checkbox" name="addG" lay-skin="primary" title="添加商品"><br>
            <input type="checkbox" name="searchG" lay-skin="primary" title="查询商品"><br>
            <input type="checkbox" name="cList" lay-skin="primary" title="客户列表"><br>
            <input type="checkbox" name="addC" lay-skin="primary" title="添加客户"><br>
            <input type="checkbox" name="searchC" lay-skin="primary" title="查询客户"><br>
            <input type="checkbox" name="placeO" lay-skin="primary" title="下单"><br>
            <input type="checkbox" name="checkO" lay-skin="primary" title="审核订单"><br>
            <input type="checkbox" name="oList" lay-skin="primary" title="查询订单"><br>
            <input type="checkbox" name="wList" lay-skin="primary" title="库存列表"><br>
            <input type="checkbox" name="stock" lay-skin="primary" title="进货"><br>
            <input type="checkbox" name="transfer" lay-skin="primary" title="调拨货品"><br>
            <input type="checkbox" name="wgList" lay-skin="primary" title="库存记录"><br>
            <input type="checkbox" name="uList" lay-skin="primary" title="用户列表"><br>
            <input type="checkbox" name="searchU" lay-skin="primary" title="用户查询"><br>
            <input type="checkbox" name="rList" lay-skin="primary" title="角色查询"><br>
            <!--<input type="checkbox" name="addR" lay-skin="primary" title="添加角色"><br>-->
        </div>
    </div>
    <br>
    <div class="layui-form-item">
        <label class="layui-form-label">角色描述</label>
        <div class="layui-input-block">
            <input type="text" name="intro" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>
    <br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../lib/jq-module/jquery.particleground.min.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer



        //监听提交
        form.on('submit(demo1)', function(data){
            data = data.field;
            var codesMap = new Map();
            codesMap.set("商品列表",data.gList);
            codesMap.set("添加商品",data.addG);
            codesMap.set("查询商品",data.searchG);
            codesMap.set("客户列表",data.cList);
            codesMap.set("添加客户",data.addC);
            codesMap.set("查询客户",data.searchC);
            codesMap.set("下单",data.placeO);
            codesMap.set("审核订单",data.checkO);
            codesMap.set("查询订单",data.oList);
            codesMap.set("库存列表",data.wList);
            codesMap.set("进货",data.stock);
            codesMap.set("调拨货品",data.transfer);
            codesMap.set("库存记录",data.wgList);
            codesMap.set("用户列表",data.uList);
            codesMap.set("用户查询",data.searchU);
            codesMap.set("角色查询",data.rList);
            /*codesMap.set("添加角色",data.addR);*/


            let obj= Object.create(null);
            for (let[k,v] of codesMap) {
                obj[k] = v;
            }
            var codes = JSON.stringify(obj);
            var name = data.name;
            var power = data.code;
            var intro = data.intro;
            $.ajax({
                async:false,
                type: 'GET',
                url: '/role/add',
                dataType: 'json',
                data: {name: name, power: power, codes:codes,intro:intro},
                success:function (flag) {
                    if(flag){
                        console.log(codes);
                        alert("添加成功！");
                        location.reload();
                    } else {
                        alert("添加失败！")
                    }
                },
                error:function () {
                    alert("添加错误！");
                }
            });
            return false;
        });
    });
</script>

</body>
</html>