<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>销售管理系统</title>
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../lib/jq-module/jquery.particleground.min.js" charset="utf-8"></script>
    <script>
        var orderList = [];
        var srcorderList = [];
        var customerList = [];
        var selectedCustomer;
    </script>
    <script>
        function loadinfo() {
            orderList = [];
            srcorderList = [];
            $.ajax({
                type: "POST",
                url: '/order/orderList',  //从数据库查询返回的是个list
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    srcorderList = data;
                }
            })
            var len = srcorderList.length;
            orderList = srcorderList.slice(0, len);
            for (var i = 0; i < len; i++) {
                if (orderList[i].status - 2 >= 0)
                    orderList[i].check = "已审核";
                else
                    orderList[i].check = "未审核";
                if (orderList[i].status % 2 == 0)
                    orderList[i].status = "批发";
                else if (orderList[i].status % 2 == 1)
                    orderList[i].status = "零售";
            }
        }
        loadinfo();
    </script>
    <script>
        $.ajax({
            type: "POST",
            url: '/customer/customerList',
            dataType: "json",
            data: {
                "page": 1,
                "limit": 100
            },
            async: false,
            cache: false,
            success: function (data) {
                customerList = data.data;
            }
        })
    </script>
    <script>
        function loadtable() {
            layui.use('table', function () {
                var table = layui.table;
                //第一个实例
                table.render({
                    elem: '#test'
                    , toolbar: '#toolbarDemo'
                    , title: '订单数据表'
                    , totalRow: true
                    , data: orderList
                    , cols: [[
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'orderId', title: '订单ID', fixed: 'left', sort: true }
                        , { field: 'customerId', title: '客户ID', }
                        , { field: 'price', title: '订单金额', sort: true }
                        , { field: 'status', title: '订单类型', sort: true }
                        , { field: 'check', title: '审核状态', sort: true }
                        , { field: 'warehouseId', title: '出货仓库', sort: true }
                        , { field: 'createTime', title: '创建时间', sort: true }
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ]]
                });
            });
        }
        loadtable();
    </script>
</head>

<body>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>查看订单列表</legend>
    </fieldset>
    <form class="layui-form" type="form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">选择客户</label>
            <div class="layui-input-block">
                <select id="customerName" name="customerName" lay-verify="required" lay-search lay-filter="cn"
                    class="select">
                    <option value=""></option>
                </select>
            </div>
            <button class="layui-btn" data-type="reload" id="searchCustomer">搜索</button>
        </div>
        <script>
            var len = customerList.length;
            for (var i = 0; i < len; i++) {
                $('#customerName').append(new Option(customerList[i].customerName, i));
            }
        </script>
    </form>
    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        </div>
    </script>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>
        layui.use(['table', 'form'], function () {
            var table = layui.table;
            var form = layui.form;
            //工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');

                        $.ajax({
                            async: true,
                            type: 'post',
                            url: '/order/check',
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            dataType: "json",
                            success: function (flag) {
                                if (flag) {
                                    alert("成功！");
                                    location.reload();
                                } else {
                                    alert("失败！")
                                }
                            },
                            error: function () {
                                alert("添加错误！");
                            }
                        });
                        return false;
                        break;
                };
            });

            table.on('tool(test)', function (obj) {
                layer.confirm('真的删除么', function (index) {
                    var data = obj.data.orderId;
                    console.log(JSON.stringify(data));
                    $.ajax({
                        type: "POST",
                        url: '/order/delete',  //从数据库查询返回的是个list
                        dataType: "json",
                        async: false,
                        cache: false,
                        data: {
                            "orderId": data
                        },
                        success: function (flag) {
                            if (flag) {
                                layer.msg('成功删除订单信息', { icon: 1 });
                                setTimeout('window.location.reload()', 1000);
                            } else {
                                layer.msg('删除订单信息失败', { icon: 2 });
                            }
                        },
                        error: function () {
                            alert("发生错误！");
                        }
                    })
                    return false;
                });
            });

            form.on('select(cn)', function (data) {
                selectedCustomer = customerList[data.value];
                form.render('select');
            });
        });
        $("#searchCustomer").click(function () {
            var cid = selectedCustomer.customerId;
            var lenoflist = orderList.length;
            var neworderlist = [];
            for (var i = 0; i < lenoflist; i++) {
                if (orderList[i].customerId == cid) {
                    neworderlist.push(orderList[i]);
                }
            }
            orderList = neworderlist;
            loadtable();
            loadinfo();
            return false;
        });
    </script>

</body>

</html>